/test/
.expo
settings.json
node_modules/
/SERVER/node_modules/
/SERVER/keys/
/SERVER/greenlock.d
/SERVER/.env
/SERVER/config/
/SERVER/logger.js
/SERVER/error.log
/SERVER/.greenlockrc
/SERVER/combined.log
/SERVER/public/
/node_modules/
.expo
*.hprof

/HOME/node_modules/
